/NATO_MTF/XSD/APP-11C-ch1/
/NATO_MTF/XSD/Normalized/
/NATO_MTF/XSD/APP-11C-GoE/
/USMTF/XSD/GoE_Schema/
/USMTF/XSD/Baseline_Schema/
/USMTF/XSD/Normalized/
/NATO_MTF/XSD/Deconflicted/
/USMTF/XSD/Deconflicted/