
.accordion__container{
    background:#FFF;
    border:1px solid #ccc;
    /* padding: 2px; */
}
.accordion__tab{
    background:#FFF;
    color:#000;
    border-bottom:1px solid white;
    font-size:10px;
    font-weight:bold;
}
.accordion__tab-title{
    background:#BEDFD5;
    font-size: 12px;
    padding:5px;
    cursor:pointer;
}
.accordion__tab-title_sm{
    background:#EAF2FE;
    font-size: 10px;
    padding:5px;
    padding-left:10px;
    cursor:pointer;
}
.accordion__srch-title{
    background:#dddddd;
    padding:5px;
    color: white;
    cursor:pointer;
}
.accordion__tab-content{
    background:#FFF;
    padding:2px;
}
.selected {
    background-color: yellow;
}