<div class="choicediv optchceborder" data-ng-controller="fldCtl as fldctl">
    <div class="usage">
        <div class="occur">
            <b>Min Occurrence: </b>{{node._minOccurs}}</div>
        <div class="repeat">
            <b>Max Occurrence: </b>{{node._maxOccurs}}</div>
    </div>
    <div data-ng-repeat="(key,node) in node | orderBy:node._position">
        <div data-ng-If="key === 'Choice'">
            <div ng-include="mtfctl.choiceview"/>
        </div>
        <div data-ng-If="key.indexOf('Set')>0">
            <div data-ng-repeat="(k,node) in node | orderBy:node._position">
                <div ng-include="mtfctl.setview"/>
            </div>
        </div>
    </div>
</div>