<div class="field" data-ng-controller="fldCtl as fldctl">
    <div class="name">
        <b>{{fldctl.Field.Info._name}}</b>
    </div>
    <div class="desc txt" data-ng-show="fldctl.Field._doc">{{fldctl.Field._doc}}</div>
    <div class="desc txt" data-ng-hide="fldctl.Field._doc">{{fldctl.Field.Info._explanation}}</div>
    <div class="desc txt" data-ng-show="fldctl.Field.Info._version">
        <b>Version: </b>{{fldctl.Field.Info._version}} </div>
    <div class="desc txt">
        <span data-ng-show="fldctl.Field._base==='FieldIntegerBaseType'"><b>Type: </b>Integer</span>
        <span data-ng-show="fldctl.Field._base==='FieldDecimalBaseType'"><b>Type: </b>Decimal</span>
        <span data-ng-show="fldctl.isString(fldctl.Field._base)"><b>Type: </b>String</span>
        <span class="spc" data-ng-show="fldctl.Field._minLength"><b>Min Length: </b>{{fldctl.Field._minLength}}</span>
        <span class="spc" data-ng-show="fldctl.Field._maxLength"><b>Max Length: </b>{{fldctl.Field._maxLength}}</span>
        <span class="spc" data-ng-show="fldctl.Field._length"><b>Length: </b>{{fldctl.Field._length}}</span>
        <span class="spc" data-ng-show="fldctl.Field._minInclusive"><b>Min: </b>{{fldctl.Field._minInclusive}}</span>
        <span class="spc" data-ng-show="fldctl.Field._maxInclusive"><b>Max: </b>{{fldctl.Field._maxInclusive}}</span>
        <span class="spc" data-ng-show="fldctl.Field._fractionDigits"><b>Fraction Digits: </b>{{fldctl.Field._fractionDigits}}</span>
        <span class="spc" data-ng-show="fldctl.Field._totalDigits"><b>Total Digits: </b>{{fldctl.Field._totalDigits}}</span>
    </div>
    <div class="desc txt" data-ng-show="fldctl.Field._regex"><b>Regex: </b>{{fldctl.Field._regex}}</div>
    <div class="desc txt" data-ng-show="fldctl.Field.choice">
        <div>Select:</div>
        <div data-ng-repeat="(k,e) in fldctl.Field.choice.enumeration">
            <div><span>{{e._dataItem}}</span>:  <span>{{e._value}}</span></div>
        </div>
    </div>
</div>
