<div id="msgview">
    <div class="msgheader">
        <div class="desc">
            <div>
                <div class="title">
                    <b>{{mtfctl.selectedMsg._MtfName}}</b>
                </div>
                <div class="txt">
                    <b>Identifier: </b>
                    <span>{{mtfctl.selectedMsg._MtfIdentifier}}</span>
                </div>
                <div class="txt">
                    <b>Description: </b>
                    <span>{{mtfctl.selectedMsg._doc}}{{mtfctl.selectedMsg._MtfPurpose}}</span>
                </div>
                <div class="txt" data-ng-show="mtfctl.selectedMsg._MtfNote">
                    <b>Note: </b>
                    <span>{{mtfctl.selectedMsg._MtfNote}}</span>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="txt">
                <b>Related Documents:</b>
                <span>{{mtfctl.selectedMsg._MtfRelatedDocument}}</span>
            </div>
            <div class="txt">
                <b>Sponsor:</b>
                <span>{{mtfctl.selectedMsg._MtfSponsor}}</span>
            </div>
        </div>
    </div>
    <div class="msgseq">
        <div
            data-ng-repeat="(key,val) in mtfctl.selectedMsg.sequence | orderBy:_SetFormatPositionNumber">
            <div data-ng-if="key.substring(0,6) === 'choice'">
                <div ng-include="mtfctl.choiceview"/>
            </div>
            <div data-ng-if="key.substring(key.length-7)==='Segment'">
                <div ng-include="mtfctl.segmentview"/>
            </div>
            <div data-ng-if="val._ref.substring(0,3)==='set' || val._SetFormatPositionNumber">
                <div ng-include="mtfctl.setview"/>
            </div>
        </div>
    </div>
</div>
