<div class="segment">
    <div class="desc">
        <div class="txt">
            <b>Concept: </b>{{Segment.Info._concept}} </div>
    </div>
    <div class="usage">
        <div class="occur">
            <b>Usage: </b>{{Segment.Info._usage}} </div>
    </div>
    <div
        data-ng-repeat="(key,val) in Segment.Sequence | orderBy:val.Info._position">
        <div data-ng-If="key==='set'">
            <div data-ng-repeat="(k,Set) in val">
                <div ng-include="mtfctl.setview"/>
            </div>
        </div>
        <div data-ng-If="key === 'Segment'">
            <div data-ng-repeat="(k,Segment) in val">
                <div ng-include="mtfctl.segmentview"/>
            </div>
        </div>
        <div data-ng-If="key === 'choice'">
            <div ng-include="mtfctl.choiceview"/>
        </div>
    </div>
</div>
</div>
</div>
</div>
