<div class="msgseq">
    <span>{{key}}</span>
    <div data-ng-if="key === Choice">
        <div ng-include="mtfctl.choiceview"/>
    </div>
    <div data-ng-if="key === Sequence">
        <div
            data-ng-repeat="(key,Node) in Sequence">
            <div ng-include="mtfctl.sequenceview"/>
        </div
    </div>
    <div data-ng-if="key === Segment">
        <div data-ng-repeat="(k,Segment) in Node">
            <div ng-include="mtfctl.segmentview"/>
        </div>
    </div>
    <div data-ng-if="key === Set">
        <div data-ng-repeat="(k,Set) in Node">
            <div ng-include="mtfctl.setview"/>
        </div>
    </div>
    <div data-ng-if="key === Field">
        <div data-ng-repeat="(k,Field) in Node">
            <div ng-include="mtfctl.fieldview"/>
        </div>
    </div>
</div>