<div class="sequencediv">
    <div ng-include="mtfctl.fieldView"/>
    <div data-ng-if="node.Sequence">
        <span>
            <b>SEQUENCE</b>
        </span>
        <span data-ng-show="node._minInclusive"><b>Min: </b>{{node._minInclusive}}</span>
        <span data-ng-show="node._maxInclusive"><b>Max: </b>{{node._maxInclusive}}</span>
        <div data-ng-repeat="(k,node) in fldctl.fldRefs(node.Sequence) | orderBy:node.position">
            <div ng-include="mtfctl.sequenceView"/>
        </div>
    </div>
</div>
