<div class="set">
    <div class="name"><b>Set: </b>{{mtfctl.selectedSet.Info._name}}</div>
    <div class="name"><b>Id: </b>{{mtfctl.selectedSet.Info._id}}</div>
    <div class="name"><b>Version: </b>{{mtfctl.selectedSet.Info._version}}</div>
    <div
        data-ng-repeat="e in mtfctl.Example  | orderBy:$index">
        <div>{{e}}</div>
    </div>
<!--    <div data-ng-If="mtfctl.selectedStd==='US'">
        <div
            data-ng-repeat="(key,val) in mtfctl.ussets[key].sequence  | orderBy:'_FieldFormatPositionNumber'">
            <div ng-include="mtfctl.fieldview"></div>
        </div>
    </div>
    <div data-ng-If="mtfctl.selectedStd==='NATO'">
        <div
            data-ng-repeat="(key,val) in mtfctl.natosets[key].sequence | orderBy:'_FieldFormatPositionNumber'">
            <div ng-include="mtfctl.fieldview"></div>
        </div>
    </div>-->
</div>