<div class="set" data-ng-controller="setCtl as setctl">
    <div class="title">
        <span data-ng-show="set.Info._name"><b>{{set.Info._name}}</b></span>
        <span data-ng-show="set.Info._id"><b> ({{set.Info._id}})</b></span>
    </div>
    <div data-ng-show="set.Info._version"><b>Version: </b>{{set.Info._version}} </div>
    <div data-ng-show="set.Info._sponsor"><b>Sponsor: </b>{{set.Info._sponsor}} </div>
    <div data-ng-show="set.Info.Example">
        <b>Example(s):</b>
        <div data-ng-repeat="ex in set.Info.Example track by $index" >
            <div>{{ex}}</div>
        </div>
    </div>
    <div>
        <span data-ng-show="setctl._minOccurs"><b>Min Occurs: </b>{{setctl._minOccurs}}</span>
        <span data-ng-show="setctl._maxOccurs"><b>Max Occurs: </b>{{setctl._maxOccurs}}</span>
        <span data-ng-show="setctl._nillable"><b>Nillable: </b>{{setctl._nillable}}</span>
        <span data-ng-show="setctl._minLength"><b>Min Length: </b>{{setctl._minLength}}</span>
        <span data-ng-show="setctl._maxLength"><b>Max Length: </b>{{setctl._maxLength}}</span>
    </div>
    <div data-ng-repeat="set in setctl.setRefs(set)">
        <div data-ng-include="mtfctl.setView"/>
    </div>
    <div data-if="set.Sequence">
        <div class="desc">
            <div data-ng-repeat="set in setctl.setRefs(set.Sequence)">
                <div data-ng-include="mtfctl.setView"/>
            </div>
        </div>
    </div>
    <div data-if="set.Sequence.Sequence">
        <b>Sequence</b>
        <div class="desc">
            <div>
                <span data-ng-show="setctl._minOccurs"><b>Min Occurs: </b>{{setctl._minOccurs}}</span>
                <span data-ng-show="setctl._maxOccurs"><b>Max Occurs: </b>{{setctl._maxOccurs}}</span>
            </div>
            <div data-ng-repeat="field in setctl.setRefs(set.Sequence)">
                <div data-ng-include="mtfctl.setView"/>
            </div>
        </div>
    </div>
</div>
