body{
    font-family:monospace;
    font-size:small;
    /* width:100%; */ 
    /*overflow-y:hidden;*/
}

.message{
    float:left;
    height:90%;
    width: 95%;
    padding: 5px;
    margin:5px;
}
.msgseq{
    height:90%;
    float: left;
    overflow-y:auto;
    overflow-x: hidden;
    padding-top: 5px;
    padding: 2px;
    margin-top: 5px;
    width: 100%;
    border: thin solid black;
}
.seq{
    float: left;
    border: thin black solid;
    margin-top: 5px;
    padding-bottom: 2px;
    margin: 2px;
    padding: 2px;
    width: 98%;
}

.set{
    height:auto;
    margin-top:5px;
    margin-left: 2px;
    float:left;
    border:solid thin green;
    padding: 2px;
    padding-top:5px;
    /* margin: 5px; */
    width: 98%;
}

.setdoc{
    float:left;
    width: 98%;
    margin-top:5px;
    border:thin solid grey
}
.usage{
    width: 95%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.occur{
    float:left;
}
.repeat{
    float:right;
}
.choicediv{
    float:left;
    border:double red;
    padding: 2px;
    padding-left: 2px;
    width: 98%;
    margin: 2px;
}

/*************************/

.field .doc{
   width:98%;
}

.form .set{
    border: thin solid purple;
}

.field .form {
    padding-top: 5px; 
    padding-left: 5px; padding-bottom: 2px;
    border: thin solid purple;
    float: left;
    width: 98%;
}

.setform{
    float:left;
    width: 95%;
    /* margin-right: 5px; */
}
.name{
    padding-bottom:5px;
    /* font-weight:bold; */
    width: 100%;
}
.name b{
    margin-bottom:5px;
}
.no{
    float:left;
    padding-right:2px;
    /* height: 30px; */
}

.doc{
    padding-top:5px;
    padding-left: 2px;
    padding-bottom:2px;
    margin-bottom: 5px;
    float: left;
    }
.doc .field{
    width:99%;
}

.doc .fieldseq{
    width:98%;
}

.set .fieldseq {
    width:98%;
}

.doc .field{
    width:98%;
}

.set .field {
    width:98%;
}

.form{
    padding-top:5px;
    padding-left:5px;
    padding-bottom:2px;
    margin-bottom: 5px;
    float: left;
    width: inherit;
}

.info{
    /* float: right; */
    padding-left:5px;
    /* width: 30%; */
    padding-top: 5px;
}
.dbinfo{
    float:right;
    width:30%;
    padding:5px;
    margin-right:5px;
    margin-bottom:5px;
}
.segment{
    float:left;
    padding:5px;
    border:thin green solid;
}
.expandField{
    color:blue;
    float:right;
    cursor:pointer;
}
.hdr{
    float:left;
    border:none;
    text-align:center;
}
.hdr .name{
    text-align:center;
}
.segment{
    float:left;
    padding-left:5px;
    border:thin grey solid;
    margin-bottom:10px;
}
.fieldseq{
    float:left;
    height:auto;
    padding:5px;
    border:aquamarine double;
    overflow-x: hidden;
    margin-bottom:10px;
    width: 98%;
    margin-top:5px;
}
.frm{
    float: left;
    /* padding-left: 5px; */
    width: 99%;
    border: thin purple solid;
    margin-bottom: 3px;
}

.fieldseq .set{
    width:inherit;
}

.set .frm .frmseq{
    height:98%;
    overflow-y:auto;
    border-bottom:thin black solid;
    float:left;
}

.sets .set .fieldseq .fieldlisting{
    border-right:thin grey solid;
    float:left;
}

.fields{
    margin: 0px;
    padding: 0px;
    width: 90%;
}
.field{
    float:left;
    height:auto;
    width: 98%;
    margin-bottom: 5px;
    border: medium solid grey;
}
.fieldseq .field{
    float:left;
    width: 99%;
    height:auto;
    border: thin solid blue;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
}
.field .fieldseq{
    /* float:left; */
    margin-top:5px;
    /* width:99%; */
}

.fieldlisting{
    padding-top:5px;
}
.fieldseq .fieldlisting{
    padding-top:5px;
    width: 97%;
    /* border: thin solid black; */
}

.desc{
    float: left;
}
.enumregex{
    width:98%;
    margin-top:5px;
    margin-bottom:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-top:5px;
    border-top:thin green solid;
    border-bottom:thin green solid;
    float: left;
}
.enumcode{
    float:left;
    min-width:4ch;
    padding-left:2px;
}
span.enumcode{
    text-align:center;
    border:none;
}
.enumdesc{
    float:left;
    padding-left:2px;
    padding-right:2px;
    width:75%;
    border-left:thin solid grey;
}
span.enumdesc{
    text-align:center;
    padding-right:5px;
    border:none;
}
.enumfld{
    border:thin solid grey;
}
.enumtit{
    width:100%;
    text-align:left;
    padding-bottom:2px;
    border-bottom:thin green solid;
}
.enumview{
    width:100%;
    min-height:20px;
    max-height:150px;
    overflow-y:auto;
}
.enumlisting{
    width:98%;
    float:left;
    border:thin solid grey;
}
.rgx{
    width:100%;
    word-wrap:break-word;
}
.segment .info{
    position:relative;
    margin-top:5px;
    margin-bottom:10px;
    width:95%;
    float:left;
    height:auto;
}
.fieldseq .info{
    width: 65%;
    float:left;
}
.fieldlisting .info{
    margin-bottom:5px;
    float:left;
    max-width:45%;
    padding-left: 5px;
}
.frm .desc{
    width: 95%;
    padding: 5px;
    font-weight:bold;
}
.desc{
    /* padding-top:5px; */
    padding-left: 5px;
    width: 98%;
}
.frmfldseq{
    float:left;
    width: 99%;
}

.frmfld{
    float:left;
    position:relative;
    margin-left:5px;
    padding-bottom:5px;
    height:auto;
    min-height:20px;
    width: 600px;
}
.frmfld .overlay{
    position:relative;
    z-index:-1;
}
.frmfld .entryline{
    font-family:monospace;
    font-size:small;
    line-height:2em;
    padding-left:1px;
    letter-spacing:1px;
    width:30em;
    z-index:-1;
}
.frmfld .entryline span{
    font-family:monospace;
    font-size:small;
    float:left;
}
.frmfld .regentryline{
    float:left;
    margin-top:-1.4em;
    font-family:monospace;
    font-size:small;
    line-height:.9em;
    letter-spacing:1px;
    width:30em;
    z-index:-1;
    padding-left:1px;
    top:2px;
    color:black;
}
.frmfld .regentryline .okchar{
    z-index:-5;
    opacity:.2;
}
.frmfld .regentryline .badchar{
    z-index:-5;
    background-color:red;
    opacity:.2;
}
.frmfld .entryline .reqchar{
    color:red;
}
.frmfld .entryline .optchar{
    color:black;
}
.frmfld .seldiv{
    position:absolute;
    /* width: 100%; */
}

.frmseldiv{
    margin-bottom:5px;
}

.frmfld .selecttxt{
    font-style:italic;
    float:left;
    padding-top:3px;
    z-index:-2;
}
.frm .frmdesc{
    display:none;
    font-style:italic;
    margin-top:5px;
    padding-bottom:2px;
    width:98%;
    text-align:left;
    float:left;
}
.frmfld textarea{
    position:absolute;
    min-width:35ch;
    top:0em;
    left:0em;
    font-family:monospace;
    font-size:small;
    overflow:hidden;
    border:none;
    resize:none;
    text-align:left;
    letter-spacing:1px;
    background:transparent;
    line-height:1.8em;
    white-space:pre-wrap;
    word-wrap:break-word;
    overflow:hidden;
}

.form  .frmfld{
    width:98%;
}

.frmfld .freetext {
    overflow:auto;
    border:thin solid grey;
    left:0px;
    resize: both;
    position:relative;
    width:98%;
}

textarea .freetext {
    width:98%;
}

.frmfld input{
    font-family:monospace;
    font-size:small;
    text-align:center;
    font-weight:bold;
    padding:2px;
    float:left;
}
.frmfld .seldiv select{
    width:20px;
    height:1.4em;
    float:left;
}
.frm .frmfld option{
    width:300px;
    border:thin solid grey;
}

.ctr{
    text-align:center;
}
.txt{
  margin-top: 2px;  
  word-wrap:break-word;
  /* padding-left: 5px; */
}

.value{

}
.label{
    font-weight:bold;
}
.setform .desc{
    width: 95%;
    float: left;
}
.tab{
    margin-left:10px;
}
.optsetborder{
    border:thin green dashed;
}
.optchceborder{
    border:thin red dashed;
}

