.ctr{
    text-align:center;
}

div{
    padding-top:10px;
}

body{
    font-size:20px;
    margin-top:20px;
    margin-bottom:40px;
    margin-left:80px;
    margin-right:80px;
}

.hdr{
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
}

.bld{
    font-size:20px;
    font-weight:bold;
}

.hdr24{
    font-size:28px;
    font-weight:bold;
}