/* CSS Document */
html, body {
    height:100%; 
    margin: 0; 
    padding: 0; }
html>body {
    font-size: 16px; 
    font-size: 68.75%;
} /* Reset Base Font Size */
body {
    font-family: Verdana, helvetica, arial, sans-serif;
    font-size: 68.75%;
    background: #fff;
    color: #333;
}
h1, h2, h3 { 
    font-family: 'trebuchet ms', verdana, arial; 
    padding: 5px; 
    margin: 0 
}
h4{
    margin: 2px;
    padding: 2px;  
}
h1 { 
    font-size: large 
}
#xmlhead{
    border-bottom:thin solid black;
}
#sidebar{
    padding: 4px;
    width:100%;
}
#fieldtree{
    font-size:10px;
    height:90%;
}


#msglinks{
    overflow-x:hidden;
}

.xsdvw{
    overflow-y:hidden;
    /* border: thin solid black; */
}
.xsdvw div{
    height:95%;
}

.scrollcol{
    position:relative;
    height:85%;
    padding:1px;
}
.dedent{
    margin-left:-22px;
    background:white;
}
.ctrhdr{
    padding-top:5px;
    font-size:14px; 
    text-align: center;
    font-weight: bold;
}
.toplabel{
    font-size:12px; 
    display: none;
    width:100%;
    text-align:center;
    /* padding-top: 3px; */

    border-bottom: thin solid black;
}
.waiting {
    cursor: progress !important;
}
.xmlnodetree{
    height:95%;
    padding:1px;
    overflow-y:auto;
    margin-bottom:5px;
}
.xmlnodetree ul{
    margin-left:-30px;
}
.divcol{
    float:left;
    width:100%;
    height:85%;
    overflow-y:hidden;
}
.scrollcol p{
    width:95%;
    cursor:pointer;
    border:thin solid black;
    border-radius: 2px;
    padding:5px;
    box-shadow: 2px 2px 2px #888888;
    margin: 2px;
    text-align:center;
}
.att{
    font-weight:bold;
    color:black;
}
.ctr{
    text-align:center;
}
.smhdr{
    margin-bottom: 2px;
    font-weight: bold;
}
.stat{
    text-align:center;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-accordion .ui-accordion-content{
    padding: 1em 1em;
}
.progress-label {
    float:left;
    margin-left:45%;
    text-shadow: 1px 1px 0 #fff;
    line-height: 10px;
}
.progress-load {
    text-shadow: 1px 1px 0 #fff;
    line-height: 10px;
}
.ui-progressbar-value{
    border: none;
}
.hidden{
    display:none;
}
.ui-layout-pane{
    padding:0; 
    /* padding-bottom:5px; */ 
}
.no-close .ui-dialog-titlebar-close {
    display: none;
}
.datalink{
    color:blue;
    cursor:pointer;
}
.pbar{
    height:5px;
    width:250px;
    border:thin black solid;
    cursor:pointer;
}
.freetext{
    width:100%;
    }
.ui-layout-west{}
.ui-layout-south {}
.ui-layout-east {}
.ui-layout-center {}
.ui-layout-north {
    overflow-y:auto;
    /* border-bottom: thin solid black; */
}
