<div id="msgview">
    <div class="msgheader">
        <div class="desc">
            <div>
                <div class="title">
                    <b>{{mtfctl.selNode.Info._name}}</b>
                </div>
                <div class="txt">
                    <b>Identifier: </b>
                    <span>{{mtfctl.selNode.Info._identifier}}</span>
                </div>
                <div class="txt" data-ng-show="mtfctl.selNode.Info._purpose">
                    <b>Purpose: </b>
                    <span>{{mtfctl.selNode.Info._purpose}}</span>
                </div>
                <div class="txt" data-ng-show="mtfctl.selNode.Info._note">
                    <b>Note: </b>
                    <span>{{mtfctl.selNode.Info._note}}</span>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="txt" data-ng-hide="mtfctl.selNode.Info.Document.join(', ')">
                <b data-ng-show="mtfctl.selNode.Info.Document">Document:</b>
                <span>{{mtfctl.selNode.Info.Document}}</span>
            </div>
            <div class="txt" data-ng-show="mtfctl.selNode.Info.Document.join(', ')">
                <b>Documents:</b>
                <span>{{mtfctl.selNode.Info.Document.join(', ')}}</span>
            </div>
            <div class="txt">
                <b>Sponsor:</b>
                <span>{{mtfctl.selNode.Info._sponsor}}</span>
            </div>
        </div>
    </div>
    <div data-ng-repeat="(key,Node) in Sequence">
        <div ng-include="mtfctl.sequenceview"/>
    </div>
</div>
