<div class="set">
    <div data-ng-if="node.set">
        <div class="title">
            <span data-ng-show="node.set.Info._name">
                <b>{{node.set.Info._name}}</b>
            </span>
            <span data-ng-show="node.node.set.Info._id">
                <b> ({{node.set.Info._id}})</b>
            </span>
        </div>
        <div data-ng-show="node.set.Info._remark"><b>Remark: </b>{{node.set.Info._remark}} </div>
        <div data-ng-show="node.set.Info._version"><b>Version: </b>{{node.set.Info._version}} </div>
        <div data-ng-show="node.set.Info._sponsor"><b>Sponsor: </b>{{node.set.Info._sponsor}} </div>
        <div data-ng-if="setctl.isArray(node.set.Info.Example)">
            <b>Examples:</b>
            <div data-ng-repeat="(k,v) in node.set.Info.Example track by $index">
                <div class="example">{{v}}</div>
            </div>
        </div>
        <div data-ng-if="setctl.isArray(node.set.Info.Example) === false">
            <b>Example:</b>
            <span class="example">{{node.set.Info.Example}}</span>
        </div>
        <span data-ng-if="node.set._minOccurs"><b>Min Occurs: </b>{{node.set._minOccurs}}</span>
        <span data-ng-if="node.set._maxOccurs"><b>Max Occurs: </b>{{node.set._maxOccurs}}</span>
        <span data-ng-if="node.set._nillable"><b>Nillable: </b>{{node.set._nillable}}</span>
        <span data-ng-if="node.set._minLength"><b>Min Length: </b>{{node.set._minLength}}</span>
        <span data-ng-if="node.set._maxLength"><b>Max Length: </b>{{node.set._maxLength}}</span>
        <div data-ng-repeat="(k,n) in node.set">
            <div data-ng-if="n._ref">
                <data-mtf-subset node="{set:setctl.getRef(slist, n._ref, n)}" slist="slist" flist="flist"></data-mtf-subset>
            </div>
            <div data-ng-if="k === 'Sequence'">
                <div vs-repeat>
                    <div data-ng-repeat="(k,f) in n.Sequence">
                        <data-mtf-field field="setctl.getRef(slist, n._ref, n)"flist="flist"></data-mtf-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-if="node.field">
        <data-mtf-field field='node.field' flist='flist'></data-mtf-field>
    </div>
    <!--    <div data-ng-if="node.Sequence">
            <data-mtf-sequence sequence='node.Sequence' slist='slist' flist='flist'></data-mtf-sequence>
        </div>
        <div data-ng-if="node.Choice">
            <data-mtf-choice choice='node.Choice' slist='slist' flist='flist'></data-mtf-choice>
        </div>
        <div data-ng-if="node.field">
            <data-mtf-field field='node.field' flist='flist'></data-mtf-field>
        </div>-->
</div>
